
.calendar{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 30px repeat(5, 50px);
  column-gap: 20px;
  row-gap: 30px;
  
}

.date, .day{
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.5em;
}
.day{
  background-color: lightgray;
}